@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{  
    Layout = "~/Views/Shared/_mLayout.cshtml";
}
@model FastFoodSystem.WebApp.Models.Data.FFSProduct
<div class="container mt-3 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <div class="images p-3">
                            <div class="text-center p-4"> 
                                <img id="main-image" src="@Html.DisplayFor(model => model.Image)" width="350" /> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product p-4">
                            <div class="mt-4 mb-3">
                                <div style="text-align: right;">
                                    <span class="text-uppercase text-muted brand " style="float: left;">
                                        <b>@Html.DisplayNameFor(model => model.FFSProductId): &nbsp;</b>
                                        <a>@Html.DisplayFor(model => model.FFSProductId)</a>
                                    </span>
                                    <span class="text-uppercase text-muted brand " style="padding-top: 20px;">
                                        <b>@Html.DisplayNameFor(model => model.FFSProductCategory): &nbsp;</b>
                                        <a>@Html.DisplayFor(model => model.FFSProductCategoryId)</a>
                                    </span>
                                </div>

                                <h6 class="text-uppercase" style="padding-top: 20px;">
                                    <b>@Html.DisplayNameFor(model => model.Name): &nbsp;</b>
                                    <a>@Html.DisplayFor(model => model.Name)</a>
                                </h6>
                                <div class="price d-flex flex-row align-items-center" style="padding-top: 20px;">
                                    <span class="act-price">
                                        <b>@Html.DisplayNameFor(model => model.Price): &nbsp;</b>
                                        <a>@Html.DisplayFor(model => model.Price) VND</a>
                                    </span>
                                </div>
                            </div>
                            <p class="about" style="padding-top: 20px;">
                                <b>@Html.DisplayNameFor(model => model.Desc): &nbsp;</b>
                                <a>@Html.DisplayFor(model => model.Desc)</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>
    <div class="row">
        <div class="col-12">
            <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
        </div>
    </div>
</div>