

@{
    ViewData["Title"] = "Quản lý mã khuyến mãi";
    ViewData["Action"] = "Thêm mã khuyến mãi";
    Layout = "~/Views/Shared/_mLayout.cshtml";
}
@model FastFoodSystem.WebApp.Models.Data.FFSVoucher

<form asp-action="Create" class="content">
    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.ErrorMessage
        </div>
    }
    <div class="card card-secondary">
        <div class="card-header">
            <h3 class="card-title">Thêm mã khuyến mãi</h3>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="FFSVoucherId"></label>
                        @Html.TextBoxFor(model => model.FFSVoucherId, new { Required = "Required", @class = "form-control"})
                        <span asp-validation-for="FFSVoucherId" class="text-danger small"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Num"></label>
                        @Html.TextBoxFor(model => model.Num, new { Required = "Required", @class = "form-control", type = "number", min = 1})
                        <span asp-validation-for="Num" class="text-danger small"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price"></label>
                        @Html.TextBoxFor(model => model.Price, new { Required = "Required", @class = "form-control", type = "number", min = 0})
                        <span asp-validation-for="Price" class="text-danger small"></span>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="StartDate"></label>
                        @Html.TextBoxFor(model => model.StartDate, new { Required = "Required", @class = "form-control", type = "date"})
                        <span asp-validation-for="StartDate" class="text-danger small"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EndDate"></label>
                        @Html.TextBoxFor(model => model.EndDate, new { Required = "Required", @class = "form-control", type = "date"})                        
                        <span asp-validation-for="EndDate" class="text-danger small"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="State"></label>
                        <label><input type="radio" asp-for="State" value="Phần trăm" checked /> Phần trăm</label>
                        <label><input type="radio" asp-for="State" value="VND" /> VND</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            <input type="submit" value="Tạo mới" class="btn btn-success float-right">
        </div>
    </div>
</form>
