@model IEnumerable<FastFoodSystem.WebApp.Models.Data.Position>
@{
    var lstPositons = ViewData["listPositions"] as IEnumerable<FastFoodSystem.WebApp.Models.Data.Position>;
    Layout = "~/Views/Shared/_mLayout.cshtml";
}
@{
    ViewData["Title"] = "Quản lý chức vụ";
    ViewData["Action"] = "Danh sách quản lý chức vụ";
    Layout = "~/Views/Shared/_mLayout.cshtml";
}
<section class="content">
    <div class="card">
        <div class="card-body p-0">
            <table id="productTable" class="table table-striped projects">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên chức vụ</th>
                        @Html.Partial("Buttons/_AddButton")
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in lstPositons)
                    {
                        <tr>    
                             <td></td>
                            <td>@item.PositionName</td>
                            <td class="project-actions text-right">
                                @Html.Partial("Buttons/_EditButton", @item.PositionId)
                                @Html.Partial("Buttons/_DeleteButton", @item.PositionId)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

@section scripts{
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

    <script>
        $(document).ready(function () {
            $('#productTable').DataTable(
                {
                    "order": [[0, 'asc']],
                    "paging": true,
                    "searching": true,
                    "lengthMenu": [5, 10, 25, 50],
                    "pageLength": 5,
                    "language": {
                        "paginate": {
                            "previous": "<i class='fas fa-chevron-left'></i>",
                            "next": "<i class='fas fa-chevron-right'></i>"
                        }
                    },
                    "columnDefs": [
                        {
                        "targets": 0,
                        "render": function (data, type, row, meta) {
                            return meta.row + 1; 
                        }
                    },
                        {
                            "orderable": false,
                            "targets": 2,
                            "searchable": false
                        },
                    ],
                    "initComplete": function () {
                    $('.dataTables_wrapper').css('padding', '20px');
                }
                });
        });
    </script>
}
